*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/plugins/debug-bar-cron/
wp-content/plugins/debug-bar/

/.htaccess
/license.txt
/readme.html
/README.md
/sitemap.xml
/sitemap.xml.gz

wp-content/themes/twentyfourteen
wp-content/themes/twentyfifteen
wp-content/themes/twentysixteen
wp-content/themes/twentyseventeen
wp-content/themes/twentynineteen
wp-content/themes/wp-gulp/node_modules
wp-content/themes/wp-gulp/config-ftp.json
wp-content/themes/wp-gulp/package-lock.json

wp-content/themes/starter/vendor